[submodule "contrib/spdlog"]
	path = contrib/spdlog
	url = https://github.com/GamePad64/spdlog.git
[submodule "contrib/lvcrypto"]
	path = contrib/lvcrypto
	url = https://github.com/GamePad64/lvcrypto.git
[submodule "contrib/include/lvcrypto"]
	path = contrib/include/lvcrypto
	url = https://github.com/GamePad64/lvcrypto.git
